rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
    function isActiveVet(uid) {
      let u = get(/databases/$(database)/documents/users/$(uid)).data;
      let hasValidSub = !('subscriptionEnd' in u) || u.subscriptionEnd == null || u.subscriptionEnd > request.time;
      return u.role == 'veterinary' && u.status == 'active' && hasValidSub;
    }

    match /users/{userId} {
      allow read: if request.auth != null && (request.auth.uid == userId || isAdmin());
      allow write: if request.auth != null && isAdmin();
      allow create: if request.auth != null && request.auth.uid == userId;
    }

    match /veterinaries/{vetId}/{document=**} {
      allow read, write: if request.auth != null &&
        (request.auth.uid == vetId && isActiveVet(request.auth.uid) || isAdmin());
    }
  }
}
